<script>
    // Récupération des paramètres typoscript dans des variables javascript ou applique les paramètres par défaut
    window.ecqcblw = {};
    window.ecqcblw.combinaison = ("{settings.combinaison}".length > 0) ? '{settings.combinaison}' : 'up up down down left right left right b a';
    window.ecqcblw.tempsAffichage = ("{settings.tempsAffichage}".length > 0) ? {settings.tempsAffichage} : 5000;
    window.ecqcblw.titrePopup = ("{settings.titrePopup}".length > 0) ? '{settings.titrePopup}' : "Est-ce que c'est bientôt le weekend ?";

</script>
